*{
    padding: 0;
    margin: 0;
}

a:hover,
a{
    text-decoration: none;
}

ul,ol{
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Oswald", sans-serif;
    padding: 0;
    margin: 0;
}
p{
    padding: 0;
    margin: 0;
}
/*  */
/*  */

body{
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
}


#header .header_top{
    background-color: #0872b9;
    padding: 10px 0;
}
.header_top_left p{
    color: #e7e7e7;
    font-size: 14px;
    font-weight: 400;
}
.header_top_right a{
    color: #e7e7e7;
    padding-left: 25px;
    transition: all linear 0.3s;
}
.header_top_right a:hover{
    color: #32393d;
}
/* header top ends */

.nav_area{
    padding: 35px 0;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 0;

}
.nav_area .nav-link{
    font-family: "Oswald", sans-serif;
    padding-left: 14px!important;
    font-size: 14px;
    color: #353535;
}
.nav-link:hover{
    color: #0872b9;
}
.nav_area .navbar-nav .nav-link.active {
    color: #0872b9;
}
/* header area ends */


/* banner area starts */
#banner_area{
    background: url(../images/banner.jpg);
    background-size: cover;
    background-position: center center;
}
.bnr_overlay{
    padding: 150px 0;
    
    background-color: rgba(0, 0, 0, 0.6)
    ;
}
.banner_content{
    text-align: right;
}
.banner_content h2{
    font-size: 30px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
}

.banner_content h1{
    font-size: 40px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.banner_content p{
    font-size: 13px;
    color: #fff;
    font-weight: 400;
    margin-top: 30px;
}
.banner_btn{
    margin-top: 36px;
}
.banner_btn a{
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    background-color: #0872b9;
    border: 1px solid #0872b9;
    margin-left: 15px;
    transition: all linear 0.3s;
}
.banner_btn a:hover{
    background-color: transparent;
    border-color: #ffffff;
}
/* banner area ends */

/* service area starts */
#secvices{
    padding: 60px 0;
}
.ser_icon_box{
    height: 80px;
    width: 80px;
    border: 1px solid #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
}
.ser_icon_box::before{
    content: ' ';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 90px;
    width: 90px;
    background-color: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.ser_icon_box::after{
    content: ' ';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 70px;
    width: 70px;
    background-color: #f1f1f1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.ser_icon_box img{
    width: 40%;
}
.ser_info_box{
    padding: 50px 21px 20px;
    background-color: #f1f1f1;
    transition: all linear 0.3s;
    
}
.ser_main_conteiner{
    position: relative;
    text-align: center;
    transition: all linear 0.3s;
}
.service_icon_area{
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
}

.ser_info_box h3{
    font-size: 16px;
    color: #353535;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ser_info_box p{
    font-size: 13px;
    color: #555555;
    font-weight: 400;
}

.ser_main_conteiner:hover .ser_info_box{
    
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.31);

}
.ser_main_conteiner:hover .ser_icon_box{
    
    border-color: #5bc5f4;

}
.ser_main_conteiner:hover 
.ser_icon_box::after{
    
    background-color: #5bc5f4;

}
/* service area ends */

#team{
    margin-bottom: 60px;
}
.team_area{
    text-align: center;
}
.team_member_img{
    position: relative;
    overflow: hidden;
}
.team_member_img img{
    width: 100%;
}
.team_social_icon{
    content: '';
    position: absolute;
    top: 0;
    right: -150px;
    height: 100%;
    width: 33.33%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear 0.3s;
}
.team_social_icon ul a{
    display: block;
   height: 40px;
   width: 40px;
   line-height: 40px;
   border: 1px solid #fff;
   border-radius: 50%;
   margin: 10px 0;
   color: #ffffff;
}

.team_member_img:hover .team_social_icon{
    right: 0;
}
/* team area ends */

.tesmonial_area{
    text-align: center;
}
.clint_img{
    margin-bottom: 50px;
}

.clint_review{
    padding: 20px 25px;
    background-color: #f1f1f1;
    position: relative;
}
.clint_review::before{
    content: '';
    position: absolute;
    top: -11%;
    left: 46%;
    height: 40px;
    width: 40px;
    background-color: #f1f1f1;
    transform: rotate(45deg);
}

